:root {
    
}

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#mainFlex {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    margin: 0, auto;
    max-width: 70em;
    min-width: 650px;
}

#firstFlex {
    flex: 1;
    background-image: url("/Green Plants.png");
}

#mainFlex #secondFlex {
    flex: 2;
}

#mainFlex #firstFlex img {
    height: auto;
    display: block;
}

#secondFlex {
    display: flex;
    flex-direction: column;
}

#secondFlex div {
    flex: 1;
}

#topFlex {
    display: flex;
    flex-direction: column;
}

#topFlex p {
    flex: 2;
}