* {
    margin: 0;
    padding: 0;
    --sideBarMinWidth: 25vw;
    --sideBarMaxWidth: 40vw;
    font-family: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: "Norse";
    src: url("Norse-Bold.otf");
}

input:focus {
    outline: none;
}

body {
    background-color: #0e0e0e;
    padding-left: 200px;
    padding-right: 200px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.sideBar {
    background-image: url("Green Plants.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    min-width: var(--sideBarMinWidth);
    max-width: var(--sideBarMaxWidth);
    position: relative

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
    flex-grow: 2;
}

.mainText {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    padding: 40px;
}

.btnCreate {
    margin: 45px 30px;
    background-color: #596D48;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.loginText {
    padding: 10px 30px;
}

.contentForm {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px;
    padding-left: 40px;
    box-shadow: 0px 5px 1px lightgray;
    background-color: #ffffff;
}

.input {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    border-color: #E5E7EB;
}

.formTitle {
    width: 100%;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContainer {
    position: relative;
    background: black;
    opacity: 0.8;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    min-width: var(--sideBarMinWidth);
    max-width: var(--sideBarMaxWidth);
    margin-top: 20vh;
}

.odinLogo {
    width: 20%;
    padding: 5%;
}

.odinTag {
    position: relative;
    top: 35%;
    font-family: 'Norse', 'Courier New', Courier, monospace;
    font-size: 60px;
}

input {
    height: 30px;
    width: 80%;
    padding: 5px;
}

label {
    color: #414040;
    text-transform: uppercase;
    font-weight: bold;
}

.extraText {
    padding-top: 20px;
}

.loginText a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

input:focus {
    border: 1px solid #2a4ed8;
    box-shadow: 2px 2px 4px #969292;
    border-color: #2a4ed8;
}

.photoCredit {
    color: #ffffff;
    display: flex;
    font-size: smaller;
    justify-content: center;
    padding: 10px;
}


.photoCredit a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}